<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <div class="cotainer text-center">
      <h1>Random Word Generator</h1>
      <h1>{{request.session.word}}</h1>
      <form class="form-control" action="/random_word" method="post">
        {% csrf_token %}
        <button type="submit" name="button">Generate</button>
      </form>
    </div>


  </body>
</html>
